.exception{
  margin: 20px;
  justify-content: space-between;
}

.exception-line{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.exception-card{
  margin-top: 5px;
}

.exception-content{
  margin: 10px;
}